.Dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin: 10px;
    background-color: azure;
}
.DialogItem{
    padding: 10px;
}
.MessageItem{
    padding: 10px;
}
.Dialog{
    padding: 10px;
}
.Message{
    padding: 10px;
}
.active{
    background-color: gold;
}