.App{
    display: grid;
    grid-template-columns: 15% 65%;
    grid-template-rows: 15% auto auto;
    
    grid-template-areas: 
    "Header Header"
    "Navbar Content"
    "MyFriends Content";

    grid-gap: 10px;
    justify-content: center;
}