.App{
    display: grid;
    grid-template-columns: 15% 65%;
    grid-template-rows: 7em 20em auto;
    
    grid-template-areas: 
    "Header Header"
    "Navbar Content"
    "NavFrieds Content";
    grid-gap: 10px;
    justify-content: center;
}